.mobileB{
  font-size: 2.2rem;
  font-family: 'Irish Grover', cursive;
  text-align: center;
}
.App{
  /* background-color: aqua; */
  background-image: url("./pexels-tyler-lastovich-1275929.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  overflow: auto;
}
.Link{
  text-decoration: none;
  color: whitesmoke;
}
.product{
  background-image: url("./pexels-torsten-dettlaff-3571093.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  overflow: auto;

}
