.text{
    /* background-color: black; */
    color:whitesmoke;
}
.productI{
    background-image: url("../pexels-torsten-dettlaff-3571093.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    overflow: auto;
}